.habilities {
  text-align: center;
  padding-block: 30px;

  h2 {
    padding-bottom: 30px;
  }

  button {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 600;
    padding: 5px 10px;
    text-decoration: none;
    background-color: rgba(137, 67, 243, 0.201);
    border-color: rgba(137, 67, 243, 0.411);
    margin-bottom: 10px;
    cursor: pointer;
  }

  p {
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: bold;
    background-color: rgba(137, 67, 243, 0.201);
    padding: 20px;
    margin-top: 20px;
  }
}
