@import url('https://fonts.googleapis.com/css2?family=Lekton:wght@700&display=swap');

.hero {
    padding-top: 30px;
}

h1 {
    color: rgb(0, 0, 0);
    font-size: 45px;
    padding-bottom: 15px;
    white-space: nowrap;
    font-family: 'Lekton', sans-serif;
  }

  .name {
    color: rgb(0, 0, 0);
    font-weight: bolder;
    overflow: hidden;
    animation: openclose 10s ease-in-out infinite;
  }

  @keyframes openclose {
    0% {
      width: 0;
    }
    25% {
      width: 0;
    }
    50% {
      width: 380px;
    }
    75% {
    
      width: 380px;
    }
    100% {
      width: 0;
    }
  }

  @media only screen and (max-width:500px) {
    .hero {
      padding-top: 30px;
  }
  
  h1 {
    padding-left: 20px;
      color: rgb(0, 0, 0);
      font-size: 35px;
      padding-bottom: 15px;
      white-space: nowrap;
      font-family: 'Lekton', sans-serif;
    }
  
    .name {
      color: rgb(0, 0, 0);
      font-weight: bolder;
      overflow: hidden;
      animation: openclose 10s ease-in-out infinite;
    }
  
    @keyframes openclose {
      0% {
        width: 0;
      }
      25% {
        width: 0;
      }
      50% {
        width: 380px;
      }
      75% {
      
        width: 380px;
      }
      100% {
        width: 0;
      }
    }
  }