@import url("https://fonts.googleapis.com/css2?family=Lekton:wght@700&display=swap");

.hero {
  display: flex;
  justify-content: center;
  padding-block: 30px;

  .name {
    font-weight: bolder;
    overflow: hidden;
    animation: openclose 15s ease-in-out infinite;
    text-align: center;
    width: 100%;

    h1 {
      padding-block: 10px;
      font-size: 45px;
      white-space: nowrap;
      font-family: "Lekton", sans-serif;
    }
  }
}

@keyframes openclose {
  0% {
    width: 0;
  }
  25% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  55% {
    width: 100%;
  }
  60% {
    width: 100%;
  }
  65% {
    width: 100%;
  }
  70% {
    width: 100%;
  }
  75% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
