.languages {
  text-align: center;
  padding-block: 30px;

  h2 {
    padding-bottom: 20px;
  }

  .div {
    padding: 20px;
    margin-inline: 5px;
    margin-block: 10px;
    background-color: rgba(137, 67, 243, 0.201);

    h3 {
      padding-bottom: 5px;
    }

    p {
      padding-block: 5px;
    }
  }
}
