.about {
    text-align: center;
    padding-block: 30px;

    h2 {
        padding-bottom: 30px;
    }

    div {
        border-radius: 10px;
        background-color: rgba(245, 245, 245, 0.514);

        p {
            padding: 30px;
            padding-block: 20px;
        }
    }
}