.contact {
    padding: 20px 20px 0px 20px;
    
    button {
        font-family: 'Raleway', sans-serif;
        font-size: 15px;
        padding: 5px 10px;
        text-decoration: none;
        background-color: rgba(245, 245, 245, 0.536);
        border-color: whitesmoke;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    .container {
        padding: 10px 20px;
        background-color: rgba(245, 245, 245, 0.427);
        border-radius: 10px;
        
        p {
            padding-block: 5px;
        }
    }
}