.languages {
    text-align: center;
    padding-block: 30px;

    h2 {
        padding-bottom: 20px;
    }

    .idiomas {
        display: flex;
        justify-content: space-evenly;
    }

    .div {
        width: 200px;
        padding: 20px;
        border-radius: 10px;
    
        h4 {
            padding-bottom: 5px;
        }
    
        p {
            padding-block: 5px;
        }
    }
}