.languages {
    padding-block: 30px;

    .div {
        padding: 20px;
    
        h4 {
            padding-bottom: 5px;
        }
    
        p {
            padding-block: 5px;
        }
    }
}