@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

.app {
  height: 100%;
  display: grid;
  grid-template-areas: "nav nav"
                       "sidebar main"
                       "footer footer";
  grid-template-columns: 350px 1fr;
  grid-template-rows: 100px 1fr 10px;
  font-family: 'Raleway', sans-serif;

  nav {
    grid-area: nav;
  }

  a {
    color: black;
    font-weight: 700;
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  main {
    grid-area: main;
    padding: 20px 25px 80px 25px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff77;
    overflow-y: scroll;
  }

  footer {
    grid-area: footer;
    background-color: rgba(25, 35, 177, 0.453);
  }
}

@media only screen and (max-width:500px) {
  .app {
    height: 100%;
    display: grid;
    grid-template-areas: "nav nav"
                         "main"
                         "footer footer";
    grid-template-columns: 50px 1fr;
    grid-template-rows: 100px 1fr 10px;
    font-family: 'Raleway', sans-serif;

    body {
      display: flex;
      flex-direction: column;
    }

    aside {
      width: 0;
      display: none;
      padding: 0px;
      margin: 0px;
    }

    main {
      padding: 0px;
      margin: 0px;

      .menu {
        padding-top: 20px;

        button {
          font-size: 12px;
          padding: 2px;
        }
      }
    }
  }

}
