@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

.app {
  height: 100%;
  display: grid;
  grid-template-areas: "nav nav"
                       "sidebar main";
  grid-template-columns: 350px 1fr;
  grid-template-rows: 100px 1fr 40px;
  font-family: 'Raleway', sans-serif;

  nav {
    display: flex;
    justify-content: space-evenly;
    grid-area: nav;
    background-color: #7053c884;
    background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png");
    border-bottom: solid rgba(40, 43, 212, 0.476);
  }

  a {
    color: black;
    font-weight: 700;
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  aside {
    grid-area: sidebar;
    padding: 20px;
    text-align: center;
    background-color: #a8b8de77;
    background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png");
  }

  img {
    height: 300px;
    width: 250px;
    border: solid rgba(40, 43, 212, 0.476);
    border-radius: 10px;
  }

  main {
    grid-area: main;
    padding: 20px 25px 80px 25px;
    display: flex;
    flex-direction: column;
    background-color: #a8b8de77;
    background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png");
    overflow-y: scroll;
  }
}
